html,
body{
    background-color: black;
}
.stands{  
    background-image: url(fans.gif);
    background-repeat: repeat-x;
    height: 100px;
}
.trck{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
/* .stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */
h1{
    padding-left: 40px;
    color: red;
    background-color: rgb(0, 151, 238);
    border-radius: 8px;
    width: 550px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.stats{
    width: 300px;
    background-color: rgb(0, 151, 238);
    border-radius: 8px;
}
#lead{
    color: white;
    width: 350px;
}
#snail1 ::cue{
    animation: 5s;
    animation-name: run;
}
#snail2{
    animation: 5s;
    animation-name: run;
}

@keyframes run{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(10px);
    }
}